.authContainer {
    margin-top: 128px;

    .formIndex {
        width: 100%;
        margin-top: 24px;

        .marginInput {
            margin-bottom: 16px;
        }
    
        .formAction {
            margin-top: 16px;
        }
    }
}
