body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

button,
html,
input,
select,
textarea {
    font-family: Roboto, Helvetica Neue, sans-serif;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
    margin: 0;
    padding: 0;
}

body {
  background-color: #303030;
  color: rgb(250, 250, 250);

}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  @media only screen and (min-width: 601px) {
      width: 85%;
  }

  @media only screen and (min-width: 993px) {
      width: 70%;
  }
}

.sectionContainer {
  margin-top: 64px;
}


